/*-- scss:defaults --*/
$body-bg: #202020;
$body-color: #dcddde;
$link-color: #94aee6;
$navbar-bg: #2d2d2d;
$code-bg: #37383e;
//$code-color: #ca88f0;
$code-block-bg-alpha: -.9;

/*-- scss:rules --*/

pre {
    color: inherit;
}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}

.input-group-text {
    background-color: inherit !important;
}
